body{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0px auto;
    text-align: justify;
    font-family: Arial;
    background-color: white;
}
header{
    background-color: rgb(32, 32, 57);
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    border-bottom: 5px solid rgb(41, 128, 251);
}

header h2{
    width: 50%;
    text-align: center;
    font-size: 35px;
}
strong{
    color: rgb(6, 6, 248);
    font-family: arial;
}
nav{
    width: 35%;
    flex-wrap: wrap;
    padding-right: 10%;
}
nav ol{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
nav ol li a{
        color: white;
        text-decoration: none;
}
a:hover{
    color: blue;
    transition: 1s;
    
}
.secciondos{
    width: 100%;
    height: 12vh;
    background-color: rgb(32, 32, 57);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.secciondos p{
    width: 38%;
    text-align: right;
    color: white;
    font-size: 25px;
}
.secciondos form{
    width: 40%;
    align-self: center;
}
.secciondos form input{
    width: 48%;
    padding: 10px;
}
.secciondos form button{
    padding: 10px 18px 10px 18px;
    background-color: rgb(255, 47, 0);
    color: white;
}
form button:hover{
    background-color: rgb(178, 56, 0);
    transition: 1s;
}
.contenido{
    width: 100%;
    height: auto;
    display: flex;
}
.contenido section{
    width:70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.contenido section h1{
    width: 75%;
}
.formulario{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-right: -5%;
}
.formulario label,
.formulario input,
.formulario textarea,
.formulario button{
    width: 100%;
}
.formulario label{
    margin-top: 0.5vh;
}
.formulario input{
    padding: 1% 0%;
}
.formulario button{
    margin: 2% 0% 2% 0%;
    padding: 1% 0%;
    background-color: rgb(249, 73, 9);
    border: 1px;
    color: white;
}

aside{
    justify-content: flex-start;
    width: 30%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:left;
    height: auto;
}
aside article{
    width:75%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3vh 0vh 2vh 0vh;
    align-items: center;
    background-color:  rgb(62, 60, 60);

}
aside article p{
    width: 90%;
}

aside article h3{
    width: 90%;
}
aside img{
    width: 75%;
    height: auto;
}
footer{
    width: 100%;
    height: 12vh;
    background-color: rgb(0, 159, 244);
    color: white;
    display: flex;
    justify-content: center;
    font-size: 12px;
    align-items: center;
    margin : 40px 0px 0px 0px;
}